.header {
    background: #151515 url('../images/intro-bg.jpg') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header .social {
    bottom: 50px;
}

.header .roles {
    font-family: 'lora-regular', serif;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.header .text-container {
    z-index: 10;
}

.about-image {
    width: 200px;
}

.portfolio .project:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
    opacity: .8;
}

.services {
    background: url("../images/bg.jpg") center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.services::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
}

.services .container {

    z-index: 9 !important;
}

@media(max-width:767px) {
    .header .social i {
        font-size: 30px;
    }

    .header .roles {
        font-size: 18px !important;
    }

    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .stats .stat {
        border-right: 0 !important;
        border-bottom: 1px var(--bs-dark) solid !important;
        padding-bottom: 20px;
        margin-top: 40px;
    }
}